<link href="{{home}}/static/m.css" rel="stylesheet">
<div class="featured-list">
<div class="item-basic">
                                <a href="/the-elusive-samurai-12772" class="manga-poster">
                                    <img src="https://img.mangakakalot.to/_r/300x400/100/0c/ff/0cff44663477e07ce01edb16dd877ffa/0cff44663477e07ce01edb16dd877ffa.jpg" class="manga-poster-img" alt="The Elusive Samurai">
                                </a>
                                <div class="manga-detail">
                                    <h3 class="manga-name">
                                        <a href="/the-elusive-samurai-12772" title="The Elusive Samurai">The Elusive Samurai</a>
                                    </h3>
                                    <div class="fd-infor">
                                    <span class="fdi-item fdi-chapter">
                                                                                    Vol 1
                                                                                                                            Chap 59
                                                                            </span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
</div>